---
import type { CollectionEntry } from "astro:content";
import { Meta } from "../components";
import { FormattedDate } from "../utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={title} description={description} />
  </head>

  <body>
    <header>
      <nav aria-label="breadcrumb">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>{title}</li>
        </ul>
      </nav>
    </header>
    <main style="padding-top: 10px">
      <section>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <FormattedDate date={pubDate} />
        <h1>{title}</h1>
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <slot />
      </section>
    </main>
  </body>
</html>
