---
import type { CollectionEntry } from "astro:content";
import { HeaderSingle, Meta } from "../components";
import { FormattedDate } from "../utils";

type Props = CollectionEntry<"blog">["data"] & {
  slug?: string;
};

const { title, description, pubDate, updatedDate, slug } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={title} description={description} slug={slug} />
  </head>

  <body>
    <HeaderSingle title={title} />
    <main class="container" style="padding-top: 10px">
      <section>
        <FormattedDate date={pubDate} />
        <h1>{title}</h1>
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <slot />
      </section>
    </main>
  </body>
</html>
